<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Horizontal Bar Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      {{horizontal-bar-chart
        minBarThickness=minBarThickness
        maxBarThickness=maxBarThickness
        selectedSeedColor=selectedSeedColor
        data=data
        hasXAxisTitle=hasXAxisTitle
        hasYAxisTitle=hasYAxisTitle
        xTitleHorizontalOffset=xTitleHorizontalOffset
        xTitleVerticalOffset=xTitleVerticalOffset
        yTitleVerticalOffset=yTitleVerticalOffset
        xValueDisplayName=xValueDisplayName
        yValueDisplayName=yValueDisplayName
        maxLabelWidth=maxLabelWidth
      }}
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-4 control-label">Data</label>
          <div class="col-lg-8" data-test="data">
            {{view "select"
              content=availableDataSets
              value=selectedData
              class="form-control"
            }}
          </div>
        </div>
        {{!-- (Artych) I don't find selectedSortType property in components
        <div class="form-group">
          <label class="col-lg-4 control-label">Sorting</label>
          <div class="col-lg-8">
            {{view "select"
              content=sortTypes
              value=selectedSortType
              class="form-control"
            }}
          </div>
        </div> --}}
        <div class="form-group">
          <label class="col-lg-4 control-label">Color</label>
          <div class="col-lg-8">
            {{view "select"
              content=seedColorNames
              value=selectedSeedColorName
              class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Min Bar Thickness</label>
          <div class="col-lg-8">
             {{scrubber-component min=20 max=200 step=10 value=minBarThickness}}
            <span class="help-block">Min Thickness: {{minBarThickness}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Max Bar Thickness</label>
          <div class="col-lg-8">
            {{scrubber-component min=20 max=200 step=10 value=maxBarThickness}}
            <span class="help-block">Max Thickness: {{maxBarThickness}}</span>
          </div>
        </div>
        {{partial "axis-title-config"}}

        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>
                {{input
                  type="checkbox"
                  checked=hasMaxLabelWidth
                }}
                Has max label width
              </label>
            </div>
          </div>
        </div>

        {{#if hasMaxLabelWidth}}
          <div class="form-group">
            <label class="col-lg-4 control-label">Max Label Width</label>
            <div class="col-lg-8">
              {{scrubber-component min=0 max=300 step=25 value=maxLabelWidth}}
              <span class="help-block">Max label width: {{maxLabelWidth}}</span>
            </div>
          </div>
        {{/if}}

      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
        <pre>{{prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
