<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Pie Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      {{pie-chart
        maxRadius=maxRadius
        maxSlicePercent=maxSlicePercent
        minSlicePercent=minSlicePercent
        maxNumberOfSlices=maxNumberOfSlices
        selectedSeedColor=selectedSeedColor
        selectedSortType=selectedSortType
        data=data
      }}
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-4 control-label">Data</label>
          <div class="col-lg-8">
            {{view Ember.Select
             class="chart-data"
             contentBinding="availableDataSets"
             valueBinding="selectedData"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Color</label>
          <div class="col-lg-8">
            {{view Ember.Select
             contentBinding="seedColorNames"
             valueBinding="selectedSeedColorName"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Max Radius</label>
          <div class="col-lg-8">
            {{view App.ScrubberComponent min="40" max="300" step="10" valueBinding="maxRadius"}}
            <span class="help-block">Max Radius: {{maxRadius}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Max Number of Slices</label>
          <div class="col-lg-8">
            {{view App.ScrubberComponent min="1" max="30" step="1" valueBinding="maxNumberOfSlices"}}
            <span class="help-block">Max Number of Slices: {{maxNumberOfSlices}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Min Slice Percent</label>
          <div class="col-lg-8">
            {{view App.ScrubberComponent min="0" max="20" step="1" valueBinding="minSlicePercent"}}
            <span class="help-block">Min Slice Percent: {{minSlicePercent}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
<pre>{{prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
