<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="chart-header">
    <h2>Time Series Chart</h2>
  </div>

  <div class="example-container">
    <div class="chart-container">
      {{time-series-chart
        barData=barData
        lineData=lineData
        selectedInterval=selectedInterval
        selectedSeedColor=selectedSeedColor
        barPadding=barPadding
        barGroupPadding=barGroupPadding
        stackBars=stackBars
        yAxisFromZero=yAxisFromZero
      }}
    </div>
  </div>

  <div class="row bumper-30">
    <div class="col-md-6">
      <h4>Ember Bindings</h4>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-4 control-label">Line Data</label>
          <div class="col-lg-8">
            {{view Ember.Select
             contentBinding="availableLineDataSets"
             valueBinding="selectedLineData"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Bar Data</label>
          <div class="col-lg-8">
            {{view Ember.Select
             contentBinding="availableBarDataSets"
             valueBinding="selectedBarData"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Color</label>
          <div class="col-lg-8">
            {{view Ember.Select
             contentBinding="seedColorNames"
             valueBinding="selectedSeedColorName"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Tick Interval</label>
          <div class="col-lg-8">
            {{view Ember.Select
             contentBinding="tickIntervals"
             valueBinding="selectedInterval"
             class="form-control"
            }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Bar Padding</label>
          <div class="col-lg-8">
            {{view App.ScrubberComponent min="0" max="1" step="0.05" valueBinding="barPadding"}}
            <span class="help-block">Bar Padding: {{barPadding}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-4 control-label">Bar Group Padding</label>
          <div class="col-lg-8">
            {{view App.ScrubberComponent min="0" max="1" step="0.05" valueBinding="barGroupPadding"}}
            <span class="help-block">Bar Group Padding: {{barGroupPadding}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>{{view Ember.Checkbox checkedBinding="stackBars"}} Stacked Bars</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <div class="checkbox">
              <label>{{view Ember.Checkbox checkedBinding="yAxisFromZero"}} Force Y-Axis From Zero</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h4>JSON Data</h4>
      <div class="chart-json">
<pre>{{prettyPrintedData}}</pre>
      </div>
    </div>
  </div>
</div>
